* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right top, #E91E63, #C2185B);
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text {
    color: white;
    font-weight: 600;
    font-size: 2rem; 
}

.yesno {
    color: #bdbdbdd8;
    font-weight: 600;
    font-size: 2.2rem; 
}